node_modules/
Golden Response/frontend/.env
Golden Response/frontend/dist/
Golden Response/backend/.env
Golden Response/backend/uploads/*
!Golden Response/backend/uploads/.gitkeep
Golden Response/backend/logs/*.log
